RewriteEngine On

#RewriteCond %{HTTP_HOST} ^wireframes\.konekon\.ru$
#RewriteCond %{REQUEST_URI} !/wireframes/
#RewriteRule ^(.*)$ /sub/$1 [L]

#RewriteCond %{HTTP_HOST} ^demo\.konekon\.ru$
#RewriteCond %{REQUEST_URI} !/demo/
#writeRule ^(.*)$ /sub/$1 [L]